<app-mainpage></app-mainpage>

<body class="image">
  <form class="myForm">
    <h1 class="head">
      Welcome
    </h1>
    <div class="div1">
      BOOK/SHOP is a design-minded, multi-disciplinary brand offering objects,
      events, and experiences related to books and reading. We are based in the
      Kharkiv Bay Area and Kharkiv obl. OUR PHILOSOPHY Some people like to read
      on a screen. Other people need the variety and artistry, the sight, smell,
      and feel of actual books.They love seeing them on their shelves; they love
      having shelves for them. They love taking them along when they leave the
      house, and stacking them by their bedsides. They love finding old letters
      and bookmarks in them. They like remembering where they bought them or who
      they received them from. They want to read in a way that offers a rich
      experience, more than the words only: the full offering of a book. They
      are particular about covers, they want to surround themselves with the
      poetry of good design. They can't pass a bookstore without going in and
      getting something, they keep a library card and use it. They are allergic
      to cheap bestsellers; they delight in the out-of-the-way and the rare, the
      well-made and the hard-to-accomplish. They take care of their books; they
      know a book is only theirs until it passes on to someone else. They are
      good stewards of a timeless object. These are the people we're working
      for.
    </div>
    <div class="div2">
      CONTACT US: Email: info@shopbookshop.com Phone: 510-907-9649 Follow:
      Instagram or Facebook PRESS: Book/Shop's products and stores have been
      featured in many print & web publications, including
    </div>
  </form>
</body>
