.image {
    position: absolute;
    overflow: auto;
    height: 100vh;
    width: 100%;
    background-image: url(https://images.clipartlogo.com/files/istock/previews/7631/76316673-stack-of-books.jpg);
  }
  .myForm {
    height: 179%;
    background-color: rgb(172, 231, 255);
    position: inherit;
    text-align: center;
  }
  .head{
      text-align: center;
      font-family:  fantasy;
      font-weight: 1900;
      
    }
.div1{
  color: #ff1313;
  width: 55%;
  margin-top: 3%;
  margin-left: 23%;
  font-size: large;
}
.div2 {
  margin-top: 16%;
  color: #8a2be2ba;
  font-size: x-large;
}