<body class="image">
  <app-mainpage></app-mainpage>
  <div class="myForm">
    <kendo-grid
      [data]="gridData"
      [pageSize]="gridState.take"
      [skip]="gridState.skip"
      [sort]="gridState.sort"
      [filter]="gridState.filter"
      [sortable]="true"
      [pageable]="true"
      filterable="menu"
      (dataStateChange)="dataStateChange($event)"
      [height]="810"
      (edit)="editHandler($event)"
      (cancel)="cancelHandler($event)"
      (save)="saveHandler($event)"
      (remove)="removeHandler($event)"
      (add)="addHandler($event)"
      [navigable]="true"
    >
      <kendo-grid-column title="Image" width="70">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
          <div class="div-zoom">
            <img class="enlarge" src="{{ dataItem.picture }}" alt="image" />
          </div>
        </ng-template>
      </kendo-grid-column>
      
      <kendo-grid-column
       field="title" 
       editor="string" 
       title="Book Title">
      </kendo-grid-column>

      <kendo-grid-column
        field="price"
        editor="numeric"
        title="Price"
        width="280"
        filter="numeric"
        format="{0:c}"
      >
      </kendo-grid-column>

      <kendo-grid-column width="180" title="Author">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
          {{ getAuthorList(dataItem) }}
        </ng-template>

        <ng-template kendoGridEditTemplate let-dataItem="dataItem">
          <kendo-dropdownlist
            name="dataItem.authorList"
            [data]="authorList.authorList"
            textField="name"
            valueField="id"
            [(ngModel)]="dataItem.author"
            (valueChange)="authorChange($event)"
          >
          </kendo-dropdownlist>
        </ng-template>

      </kendo-grid-column>
      <kendo-grid-column width="150" title="Genre">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
          {{ getGenreList(dataItem) }}
        </ng-template>
        <ng-template width="50" kendoGridEditTemplate let-dataItem="dataItem">
          <kendo-dropdownlist
            name="dataItem.genreList"
            [data]="genreList.genreList"
            textField="title"
            valueField="id"
            [(ngModel)]="dataItem.genre"
            (valueChange)="genreChange($event)"
          >
          </kendo-dropdownlist>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-command-column title="command" width="250">
        <ng-template
          kendoGridCellTemplate
          let-isNew="isNew"
          let-dataItem="dataItem"
        >
          <button
            kendoButton
            button
            mdbBtn
            type="button"
            gradient="blue"
            rounded="true"
            mdbWavesEffect
            (click)="onButtonClick(dataItem.id, dataItem.price)"
          >
            Add To Order
          </button>

          <button
            button
            mdbBtn
            type="button"
            gradient="blue"
            rounded="true"
            mdbWavesEffect
            kendoButton
            (click)="openDescription(dataItem.id)"
          >
            About
          </button>
        </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>
  </div>
</body>
