.image {
  position: absolute;
  overflow: auto;
  height: 100vh;
  width: 100%;
  background-image: url(https://images.clipartlogo.com/files/istock/previews/7631/76316673-stack-of-books.jpg);
}
.myForm {
  position: relative;
  height: 92%;
}
.k-widget {
  border: none;
}
.myForm2 {
  height: 12%;
  background-color: #226f8d;
}
.btn-sm {
  margin-right: 0.5%;
  border-radius: 7rem;
  color: #ffffff;
}
.btn-lg {
  margin-left: 2.5%;
  border-radius: 10rem;
  color: #ffffff;
}
.btn {
  background-color: #d5b0f86e;
}
.small-image {
  background-image: url(http://sportkniga.com.ua/images/books228577dtg3.jpg);
  height: 10vh;
  width: 5%;
}
.k-button.k-primary,
.k-slider .k-draghandle {
  border-color: #747b1d;
  color: #000000;
  background-color: #d5b0f86e;
}
.sad {
  border-color: #747b1d;
  color: #000000;
  background-color: #d5b0f86e;

  background-image: none;
  background-image: none;
}
.bg-light {
  background-color: #5fa4b7 !important;
}
.but {
  background-color: #d5b0f86e;
  margin-right: 2%;
  width: 35%;
}
.btn-info {
  border-color: #b9bfc0;
}

img {
  width: 50px;
}
.enlarge:hover {
  transform: scale(3.5, 3.5);
  transform-origin: 0 0;
  position: absolute;
}
.div-zoom {
  width: 85px;
  height: 55px;
}
.navbar {
  margin-bottom: 0px;
}
.logPanel {
  display: contents;
  width: 100%;
}
.element.style {
    height: 833px;
}
.k-grid{
  background-color: #94e8ff69;
  color: rgba(78, 0, 255, 0.9);
}
