
.credit-card {
  width: 360px;
  height: 400px;
  margin: 60px auto 0;
  border: 1px solid rgba(158, 119, 119, 0.425);
  border-radius: 6px;
  background-color: rgba(145, 241, 250, 0.794);
  box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
}
.form-header {
  height: 60px;
  padding: 20px 30px 0;
  border-bottom: 1px solid #e1e8ee;
}

.form-body {
  height: 340px;
  padding: 30px 30px 20px;
  line-height: 2;
}
.title {
  font-size: 18px;
  margin: 0;
  color: #5e6977;
}
.card-number,
.cvv-input input,
.month select,
.year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}
 
.card-number,
.month select,
.year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;  
}
 
.card-number,
.cvv-details,
.cvv-input input,
.month select,
.year select {
    opacity: 1;
    color: #507485;
    padding-left: 5px;
    letter-spacing: 5px;
}
.card-number {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 5px;
  border: 2px solid #3775ac;
  border-radius: 6px;
}

.image{
  position: absolute;
  overflow: auto;
  height: 100vh;
  width: 100%;
  background-image: url(https://images.clipartlogo.com/files/istock/previews/7631/76316673-stack-of-books.jpg);
}

