<body class="image">
  <form [formGroup]="formGroup" class="credit-card">
    <div class="form-header">
      <h4 class="title">Credit card detail</h4>
      <h4 for="totalamount">Total amount: {{orderTotalPrice}}$</h4>
    </div>
    <div class="form-body">
      <input
        type="text"
        class="card-number"
        placeholder="Card Number"
        formControlName="CardNumber"
      />
      <div class="date-field">
        <div class="month">
          <select name="Month" formControlName="CardExpMonth">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>
        <div class="year">
          <select name="Year" formControlName="CardExpYear">
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
          </select>
        </div>
      </div>
      <div class="card-verification">
        <div class="cvv-input">
          <input type="text" placeholder="CVC" formControlName="CardCvc" />
        </div>
      </div>  
      <button (click)="onSubmit()" type="submit" class="paypal-btn">Pay</button>
      <a class="nav-link" href="/#">Cancel</a>
    </div>
  </form>
</body>
