.btn-sm {
  margin-right: 0.5%;
  border-radius: 7rem;
  color: #ffffff;
}
.btn-lg {
  margin-left: 2.5%;
  border-radius: 10rem;
  color: #ffffff;
}
.btn {
  background-color: #89cebae3;
}
.small-image {
  background-image: url(http://sportkniga.com.ua/images/books228577dtg3.jpg);
  height: 10vh;
  width: 5%;
}

.sad {
  border-color: #747b1d;
  color: #000000;
  background-color: #d5b0f86e;

  background-image: none;
  background-image: none;
}
.z-index {
  top: 10px;
  left: 20px;
  bottom: 10px;
  position: relative;
  z-index: 1000;
  border: 2px #ff6a84 solid;
  font-weight: 600;
  border-radius: 41%;
  color: #0011ff;
}
.glyphicon {
  right: 30%;
}

.bg-light {
  background-color: #48c0d1f2 !important;
}
.but {
  background-color: #d5b0f86e;
  margin-right: 2%;
  width: 35%;
}
.btn-info {
  border-color: #b9bfc0;
}

.navbar {
  margin-bottom: 0px;
}
.logPanel {
  display: contents;
  width: 100%;
}
.navbar-brand {
  border-radius: 13%;
  color: rgba(54, 0, 255, 0.9);
}
.element.style {
  height: 733px;
}
.btn-outline-success {
  color: #000000;
}
.btn.btn-sm {
  font-size: 2rem;
}
.userMail {
  margin-right: 2%;
}
.txt {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: rgb(22, 131, 255);
}
