<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">BookStore</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/magazine']">
          Magazine
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Menu
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <ng-container *ngIf="admin">
            <a
              class="dropdown-menu"
              (click)="openAdminPage()"
              class="dropdown-item"
            >
              Admin Page
            </a>
          </ng-container>
          <a class="dropdown-item" [routerLink]="['/app-shop-description']"
            >About Shop</a
          >
          <div class="dropdown-divider"></div>
        </div>
      </li>
      
      <button
        (click)="openDialog()"
        mdbBtn
        type="button"
        gradient="aqua"
        rounded="true"
        mdbWavesEffect
      >
        <span class="z-index" for="totalamount">{{ orderCounter }}</span>
        <link
          rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
        />
        <span class="glyphicon glyphicon-shopping-cart"></span>
      </button>
    </ul>
  </div>
  <div class="userMail">
    <h1 class="txt">Welcome</h1>
    {{ model.Email }}
  </div>
  <form class="form-inline my-2 my-lg-0">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />

    <button
      mdbBtn
      type="button"
      gradient="purple"
      rounded="true"
      mdbWavesEffect
    >
      Search
    </button>
  </form>

  <button
    [routerLink]="['/#']"
    mdbBtn
    type="button"
    gradient="purple"
    rounded="true"
    mdbWavesEffect
    (click)="Logout()"
  >
    <span class="glyphicon glyphicon-log-out"></span>
  </button>
</nav>
