.mat-typography {
    position: absolute;
    background: none;
    background: rgba(208, 252, 255, 0.88);
    padding: 5px;
    width: 25%;
    width: 26%;
    height: 308px;
    margin-left: 35%;
    border: 3px #cccccc solid;
    border-radius: 24px;
    padding: 0px 150px;
    text-align: center;
  }
  .headline {
    text-align: center;
    color: rgb(128, 0, 191);
    font-size: 45px;
    font-weight: 1000;
  }
  .overlay {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    padding-top:10%;
  }
  .col-sm{
    flex-basis: 2;
  }
  .credit-card{
    margin-top: 25%;
  }
  .mat
  .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button { border-radius: unset;
    line-height: unset; }
  .mat-ripple{
      border-radius: unset;
      line-height: unset; 
    }

    .ng-select {
      width: 91%;
      display: inline-flex;
    }
  .inp2{
    margin-left: 5%;
  }
  .toast-bottom-right .toast-container
  {background-color: red}