<body class="overlay">
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="formGroup" class="credit-card">
      <h4>Create new Book</h4>
      <div class="from-body">
        <input
          type="text"
          class="myForm"
          placeholder="Title"
          formControlName="title"
        />
        <div class="myForm">
          <input type="text" placeholder="Price" formControlName="price" />
        </div>
        <div class="myForm">
          <input
            type="text"
            placeholder="Description"
            formControlName="description"
          />
        </div>
        <div class="from-body">
          <ng-select
            class="inp"
            [multiple]="true"
            formControlName="genreIdList"
          >
            <ng-option
              *ngFor="let genre of genreIdList.genreList"
              [value]="genre.id"
              >{{ genre.title }}</ng-option
            >
          </ng-select>
        </div>
        <div class="from-body">
          <ng-select
            class="inp"
            [multiple]="true"
            formControlName="authorIdList"
          >
            <ng-option
              *ngFor="let author of authorIdList.authorList"
              [value]="author.id"
              >{{ author.name }}</ng-option
            >
          </ng-select>
        </div>
        <div class="myForm">
          <input
            class="inp2"
            type="file"
            (change)="onFileChanged($event)"
            formControlName="picture"
          />
        </div>
      </div>
      <button (click)="onSubmit()" type="submit" class="paypal-btn">
        Create
      </button>
      <button mat-dialog-close>Cancel</button>
    </form>
  </mat-dialog-content>
</body>
