<body class="image">
<app-mainpage></app-mainpage>
  <div class="myForm">
    <kendo-grid
      [data]="gridData"
      [pageSize]="gridState.take"
      [skip]="gridState.skip"
      [sort]="gridState.sort"
      [filter]="gridState.filter"
      [sortable]="true"
      [pageable]="true"
      filterable="menu"
      (dataStateChange)="dataStateChange($event)"
      [height]="810"
      (edit)="editHandler($event)"
      (cancel)="cancelHandler($event)"
      (save)="saveHandler($event)"
      (add)="addHandler($event)"
      [navigable]="true"
    >
      <kendo-grid-column title="Image" width="40">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div class="div-zoom">
              <img class="enlarge" src="{{dataItem .picture }}" alt="image" />
            </div>
          </ng-template>
        </kendo-grid-column>
      <kendo-grid-column width = "650" field="title" editor="string" title="Title">
      </kendo-grid-column>
      <kendo-grid-column
        field="price"
        editor="numeric"
        title="Price"
        width="150"
        filter="numeric"
        format="{0:c}"
      >
      </kendo-grid-column>
      <kendo-grid-command-column title="command" width="140">
        <ng-template
          kendoGridCellTemplate
          let-isNew="isNew"
          let-dataItem="dataItem"
        >
        <button button mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect (click)="onButtonClick(dataItem.id, dataItem.price)">
          Add To Order
        </button>
        <button button mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect (click)="openDescription(dataItem.id)">About</button>
        </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>
  </div>
</body>
