<body class="overlay">
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="formGroup" class="credit-card">
      <h4>Create new Magazine</h4>
      <div class="formBody">
        <input
          type="text"
          class="myForm"
          placeholder="Title"
          formControlName="title"
        />
        <div class="myForm">
          <input type="text" placeholder="Price" formControlName="price" />
        </div>

        <div class="myForm">
          <input
            type="text"
            placeholder="Description"
            formControlName="description"
          />
        </div>
      </div>
      
      <div class="myForm">
        <input
          class="inp2"
          type="file"
          (change)="onFileChanged($event)"
          formControlName="picture"
        />
      </div>
      <button (click)="onSubmit()" type="submit" class="paypal-btn">
        Create
      </button>
      <button mat-dialog-close>Cancel</button>
    </form>
  </mat-dialog-content>
</body>
