.mat-typography {
    position: absolute;
    background: none;
    background: rgba(208, 252, 255, 0.88);
    padding: 5px;
    width: 26%;
    height: 258px;
    margin-left: 35%;
    border: 3px #cccccc solid;
    border-radius: 24px;
    padding: 0px 150px;
    text-align: center;
  }
  .headline {
    text-align: center;
    color: rgb(128, 0, 191);
    font-size: 45px;
    font-weight: 1000;
  }
  .overlay {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  .credit-card{
    margin-top: 25%;
  }
  .overlay{
    padding-top: 10%;
  }
  .inp2{
    margin-left: 5%;
  }