.image {
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(https://images.clipartlogo.com/files/istock/previews/7631/76316673-stack-of-books.jpg);
  }
  .btn {
    margin-block-start: 5%;
    padding: 15px 150px;
    background: rgba(112, 206, 250, 0.5);
    border: 0.5px solid #5582ffe7;
    width: 22%;
  }