<body class="image">
  <form class="text-center">
    <div class="s">
      <h2>Welcome</h2>
    </div>
    <div class="a">
      <h2>Please, activate your account</h2>
      <div class="my-div5">
        <button (click)="confirm()" class="btn ">
          Confirm
        </button>
      </div>
    </div>
  </form>
</body>
