<div class="overlay">
  <mat-dialog-content class="mat-typography">
    <div class="myForm">
      <div class="create">
        <button (click)="openCreateBookDialog()" class="btn btn-default ">
          Create Book
        </button>
      </div>
      <kendo-grid
        [data]="gridData"
        [pageSize]="gridState.take"
        [skip]="gridState.skip"
        [sort]="gridState.sort"
        [filter]="gridState.filter"
        [sortable]="true"
        [pageable]="true"
        filterable="menu"
        (dataStateChange)="dataStateChange($event)"
        [height]="533"
        (edit)="editHandler($event)"
        (cancel)="cancelHandler($event)"
        (save)="saveHandler($event)"
        (remove)="removeHandler($event)"
        (add)="addHandler($event)"
        [navigable]="true"
      >
        <kendo-grid-column title="Image" width="70">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div class="div-zoom">
              <img class="enlarge" src="{{ dataItem.picture }}" alt="image" />
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="title" editor="string" title="Title">
        </kendo-grid-column>
        <kendo-grid-column
          field="price"
          editor="numeric"
          title="Price"
          width="280"
          filter="numeric"
          format="{0:c}"
        >
        </kendo-grid-column>
        <kendo-grid-column title="Author">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            {{ getAuthorList(dataItem) }}
          </ng-template>
          <ng-template kendoGridEditTemplate let-dataItem="dataItem">
            <kendo-multiselect
              name="dataItem.authorIdList"
              [data]="authorIdList.authorList"
              textField="name"
              valueField="id"
              [(ngModel)]="dataItem.authorIdList"
              (valueChange)="authorChange($event)"
            >
            </kendo-multiselect>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Genre">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            {{ getGenreList(dataItem) }}
          </ng-template>
          <ng-template kendoGridEditTemplate let-dataItem="dataItem">
            <kendo-multiselect
              name="dataItem.genreIdList"
              [data]="genreIdList.genreList"
              textField="title"
              valueField="id"
              [(ngModel)]="dataItem.genreIdList"
              (valueChange)="genreChange($event)"
            >
            </kendo-multiselect>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column title="command" width="250">
          <ng-template
            kendoGridCellTemplate
            let-isNew="isNew"
            let-dataItem="dataItem"
          >
            <button kendoGridEditCommand [primary]="true">Edit</button>
            <button class="sad" kendoGridRemoveCommand>Remove</button>
            <button kendoGridSaveCommand>
              {{ isNew ? "Add" : "Update" }}
            </button>
            <button kendoGridCancelCommand>
              {{ isNew ? "Discard changes" : "Cancel" }}
            </button>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
    </div>
  </mat-dialog-content>
</div>
