<body class="image">
  <app-mainpage></app-mainpage>
  <div class="wind">
    <div class="cont">
      <a class="header">Admin Page</a>
      <div class="row">
        <div class="my-div1">
          <h1 class="text">Editing Books</h1>
          <button
            mdbBtn
            type="button"
            gradient="peach"
            rounded="true"
            mdbWavesEffect
            [routerLink]="[{ outlets: { editing: ['book-editing'] } }]"
          >
            Edit Books
          </button>
        </div>
        <div class="my-div2">
          <h1 class="text">Editing Magazines</h1>
          <button
            mdbBtn
            type="button"
            gradient="peach"
            rounded="true"
            mdbWavesEffect
            [routerLink]="[{ outlets: { editing: ['magazine-editing'] } }]"
          >
            Edit Magazines
          </button>
          <div class="my-div3">
            <h1 class="text">Editing Authors</h1>
            <button
              mdbBtn
              type="button"
              gradient="peach"
              rounded="true"
              mdbWavesEffect
              [routerLink]="[{ outlets: { editing: ['author-editing'] } }]"
            >
              Edit Authors
            </button>
          </div>

          <div class="my-div4">
            <h1 class="text">Editing Genres</h1>
            <button
              mdbBtn
              type="button"
              gradient="peach"
              rounded="true"
              mdbWavesEffect
              [routerLink]="[{ outlets: { editing: ['genre-editing'] } }]"
            >
              Edit Genres
            </button>
          </div>
        </div>
        <div class="my-div6">
          <h1 class="text">Editing Users</h1>
          <button
            mdbBtn
            type="button"
            gradient="peach"
            rounded="true"
            mdbWavesEffect
            [routerLink]="[{ outlets: { editing: ['user-editing'] } }]"
          >
            Edit Users
          </button>
        </div>
        <div class="my-div5">
          <h1 class="text">Editing Orders</h1>
          <button
            mdbBtn
            type="button"
            gradient="peach"
            rounded="true"
            mdbWavesEffect
            [routerLink]="[{ outlets: { editing: ['order-editing'] } }]"
          >
            View Orders
          </button>
        </div>
      </div>
    </div>
    <div><router-outlet name="editing"></router-outlet></div>
  </div>
</body>
