.image {
  position: absolute;
  overflow: auto;
  height: 100vh;
  width: 100%;
  background-image: url(https://images.clipartlogo.com/files/istock/previews/7631/76316673-stack-of-books.jpg);
}
.myForm {
  position: relative;
  height: 92%;
}

.k-widget {
  border: none;
}
.myForm2 {
  height: 12%;
  background-color: #226f8d;
}
.btn-sm {
  margin-right: 0.5%;
  border-radius: 7rem;
  color: #ffffff;
}
.btn-lg {
  margin-left: 2.5%;
  border-radius: 10rem;
  color: #ffffff;
}
.btn {
  background-color:#923ebfd1;
}
.small-image {
  background-image: url(http://sportkniga.com.ua/images/books228577dtg3.jpg);
  height: 10vh;
  width: 5%;
}
.k-button.k-primary,
.k-slider .k-draghandle {
  border-color: #747b1d;
  color: #000000;
  background-color: #d5b0f86e;
}
.sad {
  border-color: #747b1d;
  color: #000000;
  background-color: #d5b0f86e;

  background-image: none;
  background-image: none;
}
.bg-light {
  background-color: #5fa4b7 !important;
}
.but {
  background-color: #d5b0f86e;
  margin-right: 2%;
  width: 35%;
}
.img {
  width: 50%;
}
.enlarge:hover {
  transform: scale(3.5, 3.5);
  transform-origin: 0 0;
  position: absolute;
}
.div-zoom {
  width: 85px;
  height: 55px;
}

.cont {
  height: 100%; 
  width: 8%;
  background: #ace2d5c9;
  text-align: -webkit-center;
}
.h1,
h1 {
  font-size: 1.5rem;
  color: navy;
}  

.btn-sm {
  display: block;
  margin-top: 5%;
}  
.row {
  display: unset;
}

.header {
  font-family: "Times New Roman", Times, serif;
  font-size: 180%;
  margin: auto;
 display: table;
 color: #58cce0;
}

.mat-dialog-content{
  display: block;
    margin: 95px 17px;
    padding: 0px 16px;
    max-height: 84vh;
    overflow: auto;
    margin-left: 8%;
}
.wind{
  display: flex;
}
.text{    font-family: monospace;
}
