.k-grid {
  background-clip: unset;
}
.enlarge {
  width: 50%;
}
.btn {
  color: #ffffff;
  border-radius: 10rem;
  background-color: #926dbe;
}

.k-grid {
  background-clip: unset;
}
img {
  width: 50px;
}
.div-zoom {
  width: 85px;
  height: 55px;
}
