<div class="overlay">
  <mat-dialog-content class="mat-typography">
    <div class="myForm">
      <div class="create">
        <button (click)="openCreateAuthorDialog()" class="btn btn-default">
          Create Author
        </button>
      </div>
      <kendo-grid
        [data]="gridData"
        [pageSize]="gridState.take"
        [skip]="gridState.skip"
        [sort]="gridState.sort"
        [filter]="gridState.filter"
        [sortable]="true"
        [pageable]="true"
        filterable="menu"
        (dataStateChange)="dataStateChange($event)"
        [height]="533"
        (edit)="editHandler($event)"
        (cancel)="cancelHandler($event)"
        (save)="saveHandler($event)"
        (remove)="removeHandler($event)"
        (add)="addHandler($event)"
        [navigable]="true"
      >
        <kendo-grid-column field="name" editor="string" title="Name">
        </kendo-grid-column>
        <kendo-grid-column title="command" width="250">
          <ng-template
            kendoGridCellTemplate
            let-isNew="isNew"
            let-dataItem="datItem"
          >
            <button kendoGridEditCommand [primary]="true">Edit</button>
            <button class="sad" kendoGridRemoveCommand>Remove</button>
            <button kendoGridSaveCommand>
              {{ isNew ? "Add" : "Update" }}
            </button>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </mat-dialog-content>
</div>
