<body class="image">
  <form class="text-center">
    <div class="row">
      <div class="col-md-12">
        <h2>Registration</h2>
      </div>
    </div>
    <form #f="ngForm" class="my-form" novalidate (ngSubmit)="registerUser(f)">
      <div class="my-div">
        <input
          class="form-control"
          type="text"
          id="fris-name"
          placeholder="Frist Name"
          name="firstName"
          ngModel
        />
      </div>
      <div class="my-div2">
        <input
          class="form-control"
          type="text"
          id="last-name"
          placeholder="Last Name"
          name="lastName"
          ngModel
        />
      </div>
      <div class="my-div3">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            pattern="^((\+3|7|8)+([0-9]){10})$"
            id="phonenumber"
            name="phonenumber"
            ngModel
            #phonenumber="ngModel"
            placeholder="Phone number +38091813381"
          />
          <div
            *ngIf="
              phonenumber.errors && (phonenumber.touched || phonenumber.dirty)
            "
            class="aler alert-danger"
          >
            <div class="valid" [hidden]="!(phonenumber?.errors)['pattern']">
              PhoneNumber must be a valid email address
            </div>
          </div>
        </div>
      </div>
      <div class="my-div3">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            id="email"
            name="email"
            ngModel
            #emailref="ngModel"
            placeholder="Email"
          />
          <div
            *ngIf="emailref.errors && (emailref.touched || emailref.dirty)"
            class="aler alert-danger"
          >
            <div class="valid" [hidden]="!(emailref?.errors)['pattern']">
              Email must be a valid email address
            </div>
          </div>
        </div>
      </div>

      <div class="my-div4">
        <input
          class="form-control"
          type="password"
          required
          id="password"
          name="password"
          placeholder="Password"
          ngModel
        />
      </div>
      <div class="my-div5">
        <button
          type="submit"
          class="btn bnt-primary"
          [disabled]="f.invalid || isRequesting"
        >
          Sing Up
        </button>
      </div>
      <div class="my-div6">
        <a routerLink="/login" class="btn btn-link">Sing in</a>
      </div>
    </form>
  </form>
</body>
