.col-md-12 {
  margin-bottom: 5%;
}
.text-center {
  background: none;
  background: rgba(135, 241, 255, 0.431);
  padding: 30px;
  width: 30%;
  height: 520px;
  margin-left: 35%;
  margin-block-start: 7%;
  border: 3px #cccccc solid;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 70px;
}
.my-div {
  float: left;
  padding-left: 15%;
  height: 135%;
  width: 45%;
}
.my-div2 {
  float: right;
  padding-right: 15%;
  height: 135%;
  width: 45%;
}
.my-div3 {
  float: left;
  padding-left: 15%;
  margin-block-start: 4%;
  width: 77%;
}
.my-div4 {
  float: left;
  padding-left: 15%;
  margin-block-start: 4%;
  width: 77%;
}
.form-control {
  width: 124%;
}
.form-control {
  width: 124%;
}
.btn {
  margin-block-start: 5%;
  padding: 15px 150px;
  background: rgba(112, 206, 250, 0.5);
  border: 0.5px solid #5582ffe7;
  width: 82%;
}
.image {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(https://images.clipartlogo.com/files/istock/previews/7631/76316673-stack-of-books.jpg);
}
.my-div5 {
  padding-left: 7%;
  
}
.my-div6{
    padding-left: 7%;
}
.my-form{
  margin-right: 35px;
}
.alert-danger{
position: absolute;  color: #813c3ca1;
  background-color: #ccccff;
  border-color: #000000;
  margin-left: 25px;
}