.mat-typography {
  position: absolute;
  background: none;
  background: rgba(208, 252, 255, 0.88);
  padding: 5px;
  width: 72%;
  height: 800px;
  margin-left: 15%;
  border: 3px #cccccc solid;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 24px;
  padding: 0px 125px;
}
.headline {
  text-align: center;
  color: rgb(128, 0, 191);
  font-size: 45px;
  font-weight: 1000;
}
.my-div {
  width: 85%;
  font-size: 20px;
}
.my-div2 {
  padding: 25px;
  color: rgb(0, 68, 255); 
  height: 80%;
}

.mid-cadr {
  padding: 74px;
  border-radius: 86px;
}
.overlay {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.wrapper {
  display: flex;
}

#left {
  flex: 0 0 25%;
}

#right {
  flex: 4;
  margin-left: 10px;
  width: 5%;
  font-size: 13px;
}
.price {
  margin-left: -35px;
  padding: 35px;
  font-weight: 1000;
  font-size: 30px;
  color: #f01d1d;
}
.mat-dialog-content {
  max-height: 75vh;
}
.mat-dialog-actions {
  padding: 5px 25px;
}


.enlarge{
  width: 90%;
}