<div class="overlay">
  <mat-dialog-content class="mat-typography">
    <h2 class="headline">
      <p>{{ bookDescription.title }}</p>
    </h2>
    
    <mat-card class="my-div2">
      <div class="wrapper">
        <div id="left">
          <img
            class="enlarge"
            src="{{ bookDescription.picture }}"
            alt="image"
          />
        </div>
        <div id="right">
          About Book: {{ bookDescription.description }}
          <div class="price">Price: {{ bookDescription.price }}$</div>
        </div>
      </div>
    </mat-card>

    <mat-dialog-actions>
      <button mdbBtn type="button" color="info" mdbWavesEffect mat-dialog-close>
        Cancel
      </button>

      <button
        (click)="onButtonClick(bookDescription.id)"
        mdbBtn
        type="button"
        color="info"
        mdbWavesEffect
      >
        Add To Order
      </button>
    </mat-dialog-actions>
  </mat-dialog-content>
</div>
