<div class="overlay">
  <mat-dialog-content class="mat-typography">
    <div class="title">Order Basket</div>
    <div class="warning" *ngIf="basketIsEmpty">Your Basket is empty</div>

    <mat-card class="my-div" *ngFor="let book of booklistOrder">
      <div class="my-div1">{{ book?.title }}</div>
      <div id="left">
        <img class="enlarge" src="{{ book?.picture }}" alt="image" />
      </div>
      <div class="my-div3">Price: {{ book?.price }}$</div>
    </mat-card>

    <mat-card class="my-div" *ngFor="let magazine of magazineListOrder">
      <div class="my-div1">{{ magazine?.title }}</div>
      <div id="left">
        <img class="enlarge" src="{{ magazine?.picture }}" alt="image" />
      </div>
      <div class="my-div3">Price: {{ magazine?.price }}$</div>
    </mat-card>
    <p class="total">Total Price: {{ orderTotalPrice }}$</p>
    <mat-dialog-actions>
      <button
        (click)="deleteItem()"
        mdbBtn
        type="button"
        color="danger"
        mdbWavesEffec
      >
        Remove Order
      </button>

      <button
        mat-dialog-close
        mdbBtn
        type="button"
        color="success"
        mdbWavesEffect
      >
        Cancel
      </button>

      <button
        mat-dialog-close
        (click)="openPayment()"
        mdbBtn
        type="button"
        color="success"
        mdbWavesEffect
      >
        Order Now
      </button>

      <h4>{{ orderCounter }}</h4>
    </mat-dialog-actions>
  </mat-dialog-content>
</div>
