.mat-typography {
  background: none;
  background: rgba(135, 241, 255, 0.808);
  padding: 5px;
  width: 74%;
  margin-left: 14%;
  border: 3px #cccccc solid;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 20px;
  max-height: 120vh;
  padding: 50px 110px;
}
.my-div {
  border: 4px double rgb(138, 208, 236);
  background: rgb(132, 240, 240);
  padding: 20px;
  width: 320px;
  word-wrap: break-word;
  display: inline-block;
  padding: 30px 25px;
  font-size: 14px;
  line-height: 2.428571;
}
.my-div2 {
  border: 4px double rgb(138, 208, 236);
  background: rgb(132, 240, 240);
  padding: 20px;
  width: 290px;
  word-wrap: break-word;
  display: inline-block;
  padding: 30px 25px;
}
.overlay {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.total {
  font-weight: bold;
  font-size: 23px;
  color: #f01d1d;
  padding: 15px;
  margin-left: -12px;
}
.btn-lg {
  font-size: 12px;
  background-color: #b9d6d8;
  color: #333;
  border-color: #b9d6d8;
}
.title {
  font-family: "Times New Roman", Times, serif;
  font-size: 280%;
  margin: auto;
  text-align: center;
  color: rebeccapurple;
}
.enlarge {
  width: 20%;
}
.wrapper {
  display: flex;
}
.left {
  width: 20%;
}
#right {
  flex: 2;
  margin-left: 20px;
  width: 10%;
  font-size: 17px;
}
.my-div3 {
  font-weight: 500;
  font-size: 20px;
  color: #f01d1d;
}
.my-div1 {
  font-weight: 500;
  font-size: 20px;
  color: #f01d1d;
  color: rgb(128, 0, 191);
}
.warning {
  font-family: "Times New Roman", Times, serif;
  font-size: 250%;
  margin: auto;
  text-align: center;
  color: #da212186;
}
.btn-sm {
  font-size: 2.2rem;
}
.mat-dialog-conten {
  max-height: 50vh;
}
