<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <app-mainpage></app-mainpage>
  <form class="my-form">
    <div class="row">
      <div class="col=xs=9 col-md-9">
        <p *ngFor="let author of authorList.authorList">
          {{ author.name }}
        </p>
      </div>
    </div>

    <button #anchor (click)="onToggle()" class="k-button">
      {{ toggleText }}
    </button>

    <kendo-popup [anchor]="anchor" *ngIf="show">
      <div class="inner-wrapper">
        <input
          type="text"
          [(ngModel)]="author.name"
          [ngModelOptions]="{ standalone: true }"
        />
        <button (click)="createAuthor()">Create</button>
      </div>
    </kendo-popup>
  </form>
</nav>
