.my-form{
    border: 1px double rgb(189, 44, 44);
    background: none;
    background: rgba(135, 241, 255, 0.431);
    padding: 30px;
    width: 45%;
    height: 320px;
    margin-left: 15%;
    margin-block-start: 3%;
    border: 3px #cccccc solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
.content {
    padding: 30px;
    color: #787878;
    background-color: #fcf7f8;
    border: 1px solid rgba(0,0,0,.05);}
    .bg-light {
        background-color: #5fa4b7!important
      }