<div class="overlay">
  <mat-dialog-content class="mat-typography">
    <div class="myForm">
      <kendo-grid
        [data]="gridData"
        [pageSize]="gridState.take"
        [skip]="gridState.skip"
        [sort]="gridState.sort"
        [filter]="gridState.filter"
        [sortable]="true"
        [pageable]="true"
        filterable="menu"
        (dataStateChange)="dataStateChange($event)"
        [height]="533"
        (edit)="editHandler($event)"
        (cancel)="cancelHandler($event)"
        (add)="addHandler($event)"
        [navigable]="true"
      >
        <kendo-grid-column field="email" editor="string" title="User Email">
        </kendo-grid-column>
        <kendo-grid-column title="Ordered Book">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            {{ getBookList(dataItem) }}
          </ng-template>
          <ng-template kendoGridEditTemplate let-dataItem="dataItem">
            <kendo-multiselect
              name="dataItem.books"
              [data]="books.books"
              textField="title"
              valueField="id"
              [(ngModel)]="dataItem.books"
            >
            </kendo-multiselect>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Ordered Magazine">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            {{ getMagazineList(dataItem) }}
          </ng-template>
          <ng-template kendoGridEditTemplate let-dataItem="dataItem">
            <kendo-multiselect
              name="dataItem.magazines"
              [data]="magazines.magazines"
              textField="title"
              valueField="id"
              [(ngModel)]="dataItem.magazines"
            >
            </kendo-multiselect>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="amount"
          editor="numeric"
          title="Total Amount"
          width="280"
          filter="numeric"
          format="{0:c}"
        >
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </mat-dialog-content>
</div>
