<div class="overlay">
  <mat-dialog-content class="mat-typography">
    <div class="myForm">
      <div class="create">
        <button (click)="openCreateUserDialog()" class="btn btn-default ">
          Create User
        </button>
      </div>
      <kendo-grid
        [data]="gridData"
        [pageSize]="gridState.take"
        [skip]="gridState.skip"
        [sort]="gridState.sort"
        [filter]="gridState.filter"
        [sortable]="true"
        [pageable]="true"
        filterable="menu"
        (dataStateChange)="dataStateChange($event)"
        [height]="533"
        (edit)="editHandler($event)"
        (remove)="removeHandler($event)"
        (cancel)="cancelHandler($event)"
        (add)="addHandler($event)"
        [navigable]="true"
      >
        <kendo-grid-column field="email" editor="string" title="Email">
        </kendo-grid-column>
        <kendo-grid-column field="userName" editor="string" title="User Name">
        </kendo-grid-column>
        <kendo-grid-column field="lastName" editor="string" title="Last Name">
        </kendo-grid-column>
        <kendo-grid-column field="firstName" editor="string" title="First Name">
        </kendo-grid-column>
        <kendo-grid-column
          field="phoneNumber"
          editor="string"
          title="Phone Number"
        >
        </kendo-grid-column>
        <kendo-grid-column field="role" editor="string" title="role">
        </kendo-grid-column>
        <kendo-grid-command-column title="command" width="250">
          <ng-template
            kendoGridCellTemplate
            let-isNew="isNew"
            let-dataItem="dataItem"
          >
            <button kendoGridEditCommand [primary]="true">Edit</button>
            <button class="sad" kendoGridRemoveCommand>Remove</button>
            <button kendoGridSaveCommand>
              {{ isNew ? "Add" : "Update" }}
            </button>
            <button kendoGridCancelCommand>
              {{ isNew ? "Discard changes" : "Cancel" }}
            </button>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
    </div>
  </mat-dialog-content>
</div>
