.text-center {
  border: 1px double black;
  background: none;
  background: rgba(135, 241, 255, 0.431);
  padding: 30px;
  width: 30%;
  height: 400px;
  margin-left: 35%;
  margin-block-start: 13%;
  border: 3px #cccccc solid;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 30px;
}
.image {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(https://images.clipartlogo.com/files/istock/previews/7631/76316673-stack-of-books.jpg);
}
.btn {
  margin-block-start: 3%;
  padding: 15px 150px;
  background: rgba(112, 206, 250, 0.5);
  border: 0.5px solid #5582ffe7;
}
.alert {
  background: rgba(72, 214, 233, 0.918);
  position: absolute;
}
.my-div1 {
  margin-block-start: 6%;
}
.my-div2 {
  margin-block-start: 6%;
}

.alert-danger {
  color: #4b1f23;
  margin-top: 1%;
  border-radius: 61rem;
  background-color: #e47e88;
  border-color: #f5c6cb;
}
.alert {
  padding: 0 0;
}
.my-but {
  background-color: #4367a640;
  width: 15%;
  height: 15%;
  margin-top: 1%;
}
.img {
  width: 50%;
}
