<body class="image">
  <form class="text-center">
    <form #f="ngForm" novalidate (ngSubmit)="login(f)">
      <div class="row">
        <div class="col-md-12">
          <div *ngIf="brandNew" class="alert alert-success" role="alert">
            <strong>All set!</strong> Please check your mail, and confirm
            registration for continue registration.
          </div>
          <h2>Login</h2>
        </div>
      </div>
      <div class="my-div1">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            id="email"
            name="email"
            ngModel
            #emailref="ngModel"
            placeholder="Email"
          />
          <div
            *ngIf="emailref.errors && (emailref.touched || emailref.dirty)"
            class="aler alert-danger"
          >
            <div class="hid" [hidden]="!emailref.errors['pattern']">
              InvalidEmail
            </div>
          </div>
        </div>
      </div>
      <div class="my-div2">
        <input
          type="password"
          placeholder="Enter your Password"
          class="form-control"
          required
          name="password"
          ngModel
        />
      </div>
      <div class="my-div3">
        <button type="submit" class="btn btn-link">Login</button>
      </div>
      <div *ngIf="errors" class="alert alert-danger" role="alert">
        <strong>Ooops!</strong> {{ errors }}
      </div>
      <div class="my-div3">
        <a routerLink="/register" class="btn btn-link">Registragion</a>
      </div>
      <div class="my-div4">
        <button (click)="socialSignIn('google')" class="my-but">
          <img
            class="img"
            src="https://img.icons8.com/color/48/000000/google-logo.png"
          />
        </button>
      </div>
    </form>
  </form>
</body>
