<body class="overlay">
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="formGroup" class="credit-card">
      <h4>Create Author</h4>

      <div class="from-body">
        <input
          type="text"
          class="myForm"
          placeholder="Name"
          formControlName="name"
        />
      </div>
      <button (click)="onSubmit()" type="submit" class="paypal-btn">
        Create
      </button>
      <button mat-dialog-close>Cancel</button>
    </form>
  </mat-dialog-content>
</body>
