.mat-typography {
    position: absolute;
    background: none;
    background: rgba(208, 252, 255, 0.88);
    padding: 5px;
    width: 15%;
    height: 235px;
    margin-left: 40%;
    border: 3px #cccccc solid;
    border-radius: 24px;
    padding: 24px 45px;
    text-align: center;
  }
  .headline {
    text-align: center;
    color: rgb(128, 0, 191);
    font-size: 45px;
    font-weight: 1000;
  }
  .overlay {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    padding-top: 10%;
  }
  .col-sm{
    flex-basis: 2;
  }
  .credit-card{
    margin-top: 25%;
  }
  .toast-container .toast {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 24px;
    box-shadow: 0 0 12px #999999;
    color: #FFFFFF;
  }