<body class="overlay">
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="formGroup" class="credit-card">
      <h4>Create new User</h4>
      <input
        type="text"
        class="myForm"
        placeholder="Email"
        formControlName="email"
      />
      <div class="myForm">
        <input placeholder="Password" formControlName="password" />
      </div>
      
      <div class="myForm">
        <select name="Role" formControlName="role" placeholder="choose role">
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <button (click)="onSubmit()" type="submit" class="paypal-btn">
        Create
      </button>
      <button mat-dialog-close>Cancel</button>
    </form>
  </mat-dialog-content>
</body>
